.main{
    display: flex;  
    background-color: rgb(9, 49, 68);
}
.line img{
    margin-left: 90px;
    margin-top:90px;
   color: yellow; 
   
}
.heading{
    margin-top: 60px;
    margin-left: 3%;
    padding-bottom: 6%;
}
.heading h1{
  color: aliceblue;
  font-size: 55px;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading p{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .heading button{
    color:rgb(9, 49, 68);
    width: 160px;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-color: aliceblue;
  }
.img img{
  margin-left: 140px;
  margin-top: 65px;
}